<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/footer.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <title>Document</title>
    <style>
        .err_block{
            max-width: 100vw;
            text-align: center;
            margin-top: 50%;
            transform: translateY(-50%);
            font-size: 35px;
        }
    </style>
</head>
<body>
    <%- include ('blocks/header'); -%>
        <div class="err_block">
            <p>Вы ввели некоректный Email-адрес!</p>
        </div>
    <%- include ('blocks/footer'); -%>
</body>
</html>