<link rel="stylesheet" href="../../public/css/footer.css">
<footer>
     <div>
        <a href="/contacts">связь с нами</a>
     </div>
     <div>
        <p>PizzaWow</p>
     </div> 
     <div>
        <p>&reg; PizzaWow</p>
     </div>   
</footer>