<div class="header_menu_2">
    <div class="logo_block" id="d_h_m_2">
        <img src="/public/svg/pizza.svg">
    </div>
    <div class="menu" id="d_h_m_2">
        <ul>
            <a href="/">
                <li>Меню</li>
            </a>
            <a href="/contacts">
                <li>Контакты</li>
            </a>
            <a href="/bucket">
                <li>Корзина</li>
            </a>
        </ul>
    </div>
    <div class="bucket" id="d_h_m_2">
        <a class="buck">
            <span class="wrap_buc">
                <p>Корзина</p>
                <p><img src="/public/svg/busket.svg" class="busket_img"></p>
                <p class="money">цена</p>
            </span>
        </a>
        <div class="pop_up_buc">
            <span class="enter_pop_buc">

            </span>
            <div class="open_bucket">
                <a href="#">К заказу</a>
            </div>
        </div>
    </div>
</div>